PedVisionCode/saved_models/*.pth 
PedVisionCode/unlabelled_samples/*.png
PedVisionCode/utils/__pycache__/*.pyc
PedVisionCode/utils/__pycache__/*.cpython-310.pyc
PedVisionCode/classifier_samples/masks/train/*.pkl
PedVisionCode/classifier_samples/masks/train/*.npy
PedVisionCode/classifier_samples/masks/valid/*.pkl
PedVisionCode/classifier_samples/masks/valid/*.npy
PedVisionCode/new_training/*.pkl
PedVisionCode/temp_results/*.pkl
PedVisionCode/classifier_samples/labels/train/*.txt
PedVisionCode/classifier_samples/labels/valid/*.txt
PedVisionCode/classifier_samples/images/valid/*.png
PedVisionCode/classifier_samples/images/train/*.png
*.md